{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block header%}{% endblock %}

{% block content %}
{% include 'components/navbar.html' %}
<br><br>
<div class="h-8 w-8 bg-hsl-90 flex content-center items-center justify-center justify-items-center">90</div>
<div class="h-8 w-8 bg-hsl-80 flex content-center items-center justify-center justify-items-center">80</div>
<div class="h-8 w-8 bg-hsl-70 flex content-center items-center justify-center justify-items-center">70</div>
<div class="h-8 w-8 bg-hsl-60 flex content-center items-center justify-center justify-items-center">60</div>
<div class="h-8 w-8 bg-hsl-50 flex content-center items-center justify-center justify-items-center">50</div>
<div class="h-8 w-8 bg-hsl-40 flex content-center items-center justify-center justify-items-center">40</div>
<div class="h-8 w-8 bg-hsl-30 flex content-center items-center justify-center justify-items-center">30</div>
<div class="h-8 w-8 bg-hsl-20 flex content-center items-center justify-center justify-items-center">20</div>
<div class="h-8 w-8 bg-hsl-10 flex content-center items-center justify-center justify-items-center">10</div>
<div class="h-8 w-8 bg-hsl-5 flex content-center items-center justify-center justify-items-center">5</div>

{% endblock %}
