<footer class="bg-hsl-5" id="footer">
  <div class="px-4 py-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-12 lg:px-14 xl:px-6">
    <div class="grid grid-cols-1 gap-10 row-gap-6 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-9">
      <div class="md:col-span-2 lg:col-span-3 xl:col-span-6">
        <a class="inline-flex items-center">
          <span class="text-xl font-bold tracking-wide text-gray-200 uppercase">zenith</span>
        </a>
        <div class="mt-2 lg:max-w-sm">
          <p class="text-sm text-gray-200">
            © 2021-2022 Seven Twenty Seven<br>
            Code under MIT License
          </p>
        </div>
      </div>
      <div class="text-sm"></div>
      <div class="text-sm">
        <p class="text-xl font-bold tracking-wide text-center text-gray-300 md:text-right">Dev</p>
        <div class="flex justify-center md:justify-end">
          <a class="text-hsl-h1" href="https://trello.com/b/7m6zlKMh">Trello</a>
        </div>

        <div class="flex justify-center md:justify-end">
          <a class="text-hsl-h1" href="https://github.com/seventwentyseven/">Source Code</a>
        </div>
      </div>
      <div class="text-sm">
        <p class="text-xl font-bold tracking-wide text-center text-gray-300 md:text-right">Socials</p>
        <div class="flex justify-center md:justify-end">
          <a class="text-hsl-h1" href="/youtube">YouTube</a>
        </div>
        <div class="flex justify-center md:justify-end">
          <a class="text-hsl-h1" href="/discord">Discord</a>
        </div>
      </div>
    </div>
  </div>
</footer>