{% if custom == True %}
<nav class="absolute w-full" id="navbar-c">
{% else %}
<nav class="absolute w-full" id="navbar">
{% endif %}
<div class="bg-hsl-50" id="navbar-colourer">
    <div class="flex flex-row items-center justify-between h-14 mx-6">
        <div class="flex flex-row items-center font-medium">
            <div class="mx-2">
                <a href="/" class="transform transition hover:scale-110 duration-300 text-lg">
                    <span class="font-semibold">727</span><span class="font-medium text-gray-300">.xyz</span>
                </a>
            </div>
            <div class="invisible w-0 sm:visible sm:w-auto mx-2 transform transition hover:scale-105 hover:text-gray-300 duration-200">
                <a href="/leaderboards">Leaderboards</a>
            </div>
            <div x-data="{ open: false }" @click.away="open = false" class="relative invisible w-0 sm:visible sm:w-auto">
                <!-- Dropdown toggle button -->
                <button @click="open = true" class="flex items-center rounded-md px-3 py-2 pd-3.5 h-auto font-medium text-white hover:text-gray-300">
                    <span class="mr-2.5">Clans</span> <i class="fas fa-chevron-down"></i>
                </button>
  
                <!-- Dropdown menu -->
                <div x-show="open" x-transition:enter.duration.500ms x-transition:leave.duration.800ms 
                     class="absolute right-0 w-48 py-2 mt-5 bg-hsl-10 rounded-md shadow-xl">
                    <a href="/clans/leaderboards" class="block bg-hsl-10 hover:bg-hsl-20 px-4 py-2 text-sm text-gray-200 hover:text-hsl-70 border-l-2 border-transparent hover:border-hsl-60">
                        Clan Leaderboards
                    </a>
                    {% if 'authenticated' in session %}
                    <a href="/clans/" class="block bg-hsl-10 hover:bg-hsl-20 px-4 py-2 text-sm text-gray-200 hover:text-hsl-70 border-l-2 border-transparent hover:border-hsl-60">
                        Your Clan
                    </a>
                    {% endif %}
                </div>
            </div>
            <div x-data="{ open: false }" @click.away="open = false" class="relative invisible w-0 sm:visible sm:w-auto">
                <!-- Dropdown toggle button -->
                <button @click="open = true" class="flex items-center rounded-md px-3 py-2 pd-3.5 h-auto font-medium text-white hover:text-gray-300">
                    <span class="mr-2.5">Beatmaps</span> <i class="fas fa-chevron-down"></i>
                </button>
  
                <!-- Dropdown menu -->
                <div x-show="open" x-transition:enter.duration.500ms x-transition:leave.duration.800ms 
                     class="absolute right-0 w-48 py-2 mt-5 bg-hsl-10 rounded-md shadow-xl">
                    <a href="/beatmaps" class="block bg-hsl-10 hover:bg-hsl-20 px-4 py-2 text-sm text-gray-200 hover:text-hsl-70 border-l-2 border-transparent hover:border-hsl-60">
                        Beatmap Listing
                    </a>
                    <a href="/request" class="block bg-hsl-10 hover:bg-hsl-20 px-4 py-2 text-sm text-gray-200 hover:text-hsl-70 border-l-2 border-transparent hover:border-hsl-60">
                        Request Ranking
                    </a>
                </div>
            </div>  
            <div x-data="{ open: false }" @click.away="open = false" class="relative invisible w-0 sm:visible sm:w-auto">
                <!-- Dropdown toggle button -->
                <button @click="open = true" class="flex items-center rounded-md px-3 py-2 pd-3.5 h-auto font-medium text-white hover:text-gray-300">
                    <span class="mr-2.5">Docs</span> <i class="fas fa-chevron-down"></i>
                </button>
  
                <!-- Dropdown menu -->
                <div x-show="open" x-transition:enter.duration.500ms x-transition:leave.duration.800ms 
                     class="absolute right-0 w-48 py-2 mt-5 bg-hsl-10 rounded-md shadow-xl">
                    <a href="/docs/rules" class="block bg-hsl-10 hover:bg-hsl-20 px-4 py-2 text-sm text-gray-200 hover:text-hsl-70 border-l-2 border-transparent hover:border-hsl-60">
                        Rules
                    </a>
                    <a href="/docs" class="block bg-hsl-10 hover:bg-hsl-20 px-4 py-2 text-sm text-gray-200 hover:text-hsl-70 border-l-2 border-transparent hover:border-hsl-60">
                        Wiki
                    </a>
                    <a href="/docs/privacy_policy" class="block bg-hsl-10 hover:bg-hsl-20 px-4 py-2 text-sm text-gray-200 hover:text-hsl-70 border-l-2 border-transparent hover:border-hsl-60">
                        Privacy Policy
                    </a>
                    <a href="/team" class="block bg-hsl-10 hover:bg-hsl-20 px-4 py-2 text-sm text-gray-200 hover:text-hsl-70 border-l-2 border-transparent hover:border-hsl-60">
                        Team
                    </a>
                </div>
            </div> 
        </div>
        <div class="invisible w-0 sm:visible sm:w-auto">
            {% if 'authenticated' in session %}
            <!--
            <div class="flex flex-row items-center justify-items-center">
                <img src="https://a.seventwentyseven.xyz/4" class="h-8 w-8 mr-3 rounded-full"
                     alt="https://a.seventwentyseven.xyz/1">
                <a href="/u/4">
                    <span class="font-medium mr-1">def750</span><i class="fas fa-chevron-down"></i>
                </a>
            </div>-->
            <button @click="open = true" class="flex items-center rounded-md px-3 py-2 pd-3.5 h-auto font-medium text-white hover:text-gray-300">
                <img src="https://a.seventwentyseven.xyz/4" class="h-8 w-8 mr-3 rounded-full"
                     alt="https://a.seventwentyseven.xyz/1">
                <span class="font-medium mr-1">def750</span><i class="fas fa-chevron-down"></i>
            </button>

            <!-- Dropdown menu -->
            <div x-show="open" x-transition:enter.duration.500ms x-transition:leave.duration.800ms 
                 class="absolute right-0 w-48 py-2 mt-5 bg-hsl-10 rounded-md shadow-xl">
                <a href="/docs/rules" class="block bg-hsl-10 hover:bg-hsl-20 px-4 py-2 text-sm text-gray-200 hover:text-hsl-70 border-l-2 border-transparent hover:border-hsl-60">
                    Rules
                </a>
            </div>
            {% else %}
            <button class="mx-2 bg-hsl-60 hover:bg-hsl-40 text-white font-bold py-2 px-4
                           rounded transform duration-200 focus:border-3 focus:border-hsl-40
                           focus:bg-white focus:text-hsl-40 navbar-button-toDelete"
                           id="navbar-button-reg"
                           onclick="location.href = '/register';">
                Sign Up
            </button>

            <button class="mx-2 bg-white hover:bg-gray-300 text-gray-700 font-bold py-2
                           px-4 rounded transform duration-200 focus:border-3 focus:border-white
                           focus:bg-hsl-40 focus:text-white"
                           id="navbar-button-log"
                           onclick="location.href = '/login';">
                Log In
            </button>
            {% endif %}
        </div>
        <div class="flex sm:hidden">
            <button @click="isOpen = !isOpen" type="button" class="text-white hover:text-gray-300 focus:outline-none focus:text-gray-300" aria-label="toggle menu">
                <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                    <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                </svg>
            </button>
        </div>
    </div>
</div>
</nav>