# for nginx reverse proxy to work through the containers, the bancho
# server must expose itself on port 80 to be accessed on http://bancho.
SERVER_ADDR=0.0.0.0
SERVER_PORT=80

HOST_PORT=443

# XXX: change your db credentials
DB_USER=cmyui
DB_PASS=lol123
DB_NAME=banchopy

DB_HOST=mysql
DB_PORT=3306

REDIS_USER=redis
REDIS_PASS=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

OSU_API_KEY=
MIRROR_URL=https://api.chimu.moe/v1

# XXX: change your domain if applicable
DOMAIN=example.com

COMMAND_PREFIX=!

SEASONAL_BGS=https://akatsuki.pw/static/flower.png,https://i.cmyui.xyz/nrMT4V2RR3PR.jpeg

MENU_ICON_URL=https://akatsuki.pw/static/logos/logo_ingame.png
MENU_ONCLICK_URL=https://akatsuki.pw

DATADOG_API_KEY=
DATADOG_APP_KEY=

DEBUG=False

# redirect beatmaps, beatmapsets, and forum
# pages of maps to the official osu! website
REDIRECT_OSU_URLS=True

PP_CACHED_ACCS=90,95,98,99,100

DISALLOWED_NAMES=mrekk,vaxei,btmc,cookiezi
DISALLOWED_PASSWORDS=password,abc123
DISALLOW_OLD_CLIENTS=True

DISCORD_AUDIT_LOG_WEBHOOK=

# automatically share information with the primary
# developer of bancho.py (https://github.com/cmyui)
# for debugging & development purposes.
AUTOMATICALLY_REPORT_PROBLEMS=False

# XXX: change these to their location on your host server
SSL_CERT_PATH=/home/user/certs/fullchain.crt
SSL_KEY_PATH=/home/user/certs/private.key

# advanced dev settings

## WARNING: only touch this once you've
##          read through what it enables.
##          you could put your server at risk.
DEVELOPER_MODE=False
