# bancho.py supports both INET and UNIX sockets
# INET: provide an IP for SERVER_ADDR, and a port for SERVER_PORT
# UNIX: provide a filesystem path for SERVER_ADDR, and no SERVER_PORT
SERVER_ADDR=/tmp/bancho.sock
SERVER_PORT=

DB_USER=cmyui
DB_PASS=lol123
DB_HOST=localhost
DB_PORT=3306
DB_NAME=gulag

REDIS_USER=redis
REDIS_PASS=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

OSU_API_KEY=

DOMAIN=cmyui.xyz
MIRROR_URL=https://api.chimu.moe/v1

COMMAND_PREFIX=!

SEASONAL_BGS=https://akatsuki.pw/static/flower.png,https://i.cmyui.xyz/nrMT4V2RR3PR.jpeg

MENU_ICON_URL=https://akatsuki.pw/static/logos/logo_ingame.png
MENU_ONCLICK_URL=https://akatsuki.pw

DATADOG_API_KEY=
DATADOG_APP_KEY=

DEBUG=False

# redirect beatmaps, beatmapsets, and forum
# pages of maps to the official osu! website
REDIRECT_OSU_URLS=True

PP_CACHED_ACCS=90,95,98,99,100

DISALLOWED_NAMES=mrekk,vaxei,btmc,cookiezi
DISALLOWED_PASSWORDS=password,abc123
DISALLOW_OLD_CLIENTS=True

DISCORD_AUDIT_LOG_WEBHOOK=

# automatically share information with the primary
# developer of bancho.py (https://github.com/cmyui)
# for debugging & development purposes.
AUTOMATICALLY_REPORT_PROBLEMS=False

# advanced dev settings

## WARNING: only touch this once you've
##          read through what it enables.
##          you could put your server at risk.
DEVELOPER_MODE=False
