/.vscode
__pycache__/
/config.py
/.data
_testing/
*.lprof
ext/GeoLite2-City.mmdb
.env
tools/migrate_v420/go.sum
tools/migrate_v420/scoreMigrator
.venv/
.mypy_cache/
.pytest_cache/

anticheat/config.json
anticheat/bin
anticheat/obj
anticheat/src/Checks/*
!anticheat/src/Checks/Check.cs
!anticheat/src/Checks/ExampleCheck.cs