/.vscode
__pycache__/
/config.py
/.data
_testing/
*.lprof
ext/GeoLite2-City.mmdb
.env
botconfig.py
zconfig.py
/zenith/.data
.env.save
/zenith/styles/*
/zenith/static/css/style.css
tools/migrate_v420/go.sum
tools/migrate_v420/scoreMigrator
