/.vscode
__pycache__/
/config.py
/.data
_testing/
*.lprof
ext/GeoLite2-City.mmdb
.env
tools/migrate_v420/go.sum
tools/migrate_v420/scoreMigrator
.venv/
.mypy_cache/
.pytest_cache/
ext/nginx.conf
tools/cf_records.txt
/.db-data/
/.redis-data/
poetry.toml
.coverage
logging.yaml
logs.log
