[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
async-timeout = "*"
bcrypt = "*"
datadog = "*"
fastapi = "*"
orjson = "*"
psutil = "*"
python-dotenv = "*"
python-multipart = "*"
requests = "*"
timeago = "*"
uvicorn = "*"
uvloop = "*"
py3rijndael = "*"
pytimeparse = "*"
pydantic = "*"
redis = "*"
sqlalchemy = "1.4.41"
databases = {extras = ["mysql"] }
akatsuki-pp-py = "*"
cryptography = "*"
tenacity = "*"
httpx = "*"
py-cpuinfo = "*"
pytest = "*"
pytest-asyncio = "*"
asgi-lifespan = "*"
respx = "*"

[dev-packages]
pre-commit = "*"
black = "23.12.1"
reorder-python-imports = "*"
mypy = "*"
autoflake = "*"
types-psutil = "*"
types-pymysql = "*"
types-requests = "*"

[requires]
python_version = "3.11"
