[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmyui = ">=1.2.0"
py3rijndael = "*"
bcrypt = "*"
aiohttp = "*"
aiomysql = "*"

[requires]
python_version = "3.8"
