aiohttp==3.8.1
aiomysql==0.0.22
aioredis==2.0.1
aiosignal==1.2.0
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
attrs==21.4.0
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
databases==0.5.5
datadog==0.44.0
fastapi==0.75.0
frozenlist==1.3.0
geoip2==4.5.0
greenlet==1.1.2
h11==0.13.0
idna==3.3
maxminddb==2.2.0
multidict==6.0.2
orjson==3.6.7
peace-performance-python==2.0.0
psutil==5.9.0
py3rijndael==0.3.3
pycparser==2.21
pydantic==1.9.0
PyMySQL==0.9.3
python-dotenv==0.20.0
python-multipart==0.0.5
pytimeparse==1.1.8
requests==2.27.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.32
starlette==0.17.1
timeago==1.0.15
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
yarl==1.7.2
