aiohttp==3.8.1
aiomysql==0.0.22
aioredis==2.0.0
aiosignal==1.2.0
anyio==3.4.0
async-timeout==4.0.1
attrs==21.2.0
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
black==21.12b0
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.9
click==8.0.3
cmyui==1.9.3
databases==0.5.3
datadog==0.43.0
dill==0.3.4
distlib==0.3.4
fastapi==0.70.0
filelock==3.4.0
frozenlist==1.2.0
geoip2==4.5.0
greenlet==1.1.2
identify==2.4.0
idna==3.3
maniera==1.0.2
maxminddb==2.2.0
multidict==5.2.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.27
nodeenv==1.6.0
orjson==3.6.5
pathspec==0.9.0
peace-performance-python==1.1.2
platformdirs==2.4.0
pre-commit==2.16.0
protobuf==3.19.1
psutil==5.8.0
py3rijndael==0.3.3
pycparser==2.21
pydantic==1.8.2
PyMySQL==0.9.3
PyYAML==6.0
requests==2.26.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.28
starlette==0.16.0
timeago==1.0.15
toml==0.10.2
tomli==1.2.2
typing_extensions==4.0.1
urllib3==1.26.7
uvloop==0.16.0
virtualenv==20.10.0
yarl==1.7.2
