[Unit]
Description=gulag osu! server
After=mysqld.service network-online.target
BindsTo=mysqld.service

[Service]
Type=simple

# ideally gulag should run under its own user, but change these to your user if you don't want to mess with that stuff.
User=gulag
Group=gulag

# change these paths if necessary
WorkingDirectory=/srv/gulag/
ExecStart=/srv/gulag/main.py

StandardOutput=file:/var/log/gulag.log
StandardError=file:/var/log/gulag.log

[Install]
WantedBy=multi-user.target
